<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.easywateringsystem">


    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS"/>-->
    <!--    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"-->
    <!--        tools:ignore="ProtectedPermissions" />-->

    <!--    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />-->

    <application


        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCa3uZNWDwPEAt-6-H8TfovwRzwUmCTVLM" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity"></activity>
        <activity android:name=".activities.RegisterActivity"></activity>
        <activity android:name=".activities.PassResetActivity"></activity>
        <activity android:name=".activities.LinkNewSysActivity"></activity>
        <activity android:name=".activities.LauncherActivity"></activity>
        <activity android:name=".activities.MapActivity"></activity>
        <activity android:name=".activities.PermissionsActivity"></activity>
        <activity android:name=".activities.HomepageActivity"></activity>
        <activity android:name=".activities.SystemListActivity"></activity>
        <activity android:name=".activities.SystemActivity"></activity>
        <activity android:name=".activities.SystemEditActivity"></activity>
        <activity android:name=".activities.ZoneCRUDActivity"></activity>
        <activity android:name=".activities.ZoneEditActivity"></activity>
        <activity android:name=".activities.ZoneActivity"></activity>
        <activity android:name=".activities.ScheduleActivity"></activity>
        <activity android:name=".activities.DayActivity"></activity>
        <activity android:name=".activities.ScheduleCRUDActivity"></activity>
        <activity android:name=".activities.UserActivity"></activity>

        <receiver android:name=".utils.DayWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_day_info" />
        </receiver>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.easy-watering-system.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">

            </meta-data>
        </provider>
    </application>

</manifest>